@use 'abstract/variable'as v;
@use 'abstract/mixin'as m;

.download {
    background-color: v.$light-grey;
    padding: 5rem 0;

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;

        @include m.screen('table') {
            @include m.grid(2, 5rem);
        }
    }

    &__img {
        width: 50%;

        margin: 0 auto;
        transition: transform .4s ease-in-out;

        &:hover {
            transform: rotate(-6deg) scale(1.2);
        }
    }
}