@use 'abstract/variable'as v;
@use 'abstract/mixin'as m;

.form {
    &__wrapper {
        @include m.screen('table') {
            @include m.grid(2, 4rem);
        }
    }

    &__img-container {
        margin-top: 5rem;
        display: flex;
        justify-content: center;

    }

    &__img {
        width: 30rem;

        @include m.screen('desktop') {
            width: 100%;
        }

    }

    &__content{
        background-color: v.$primary;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__title {
        color: v.$white;
        text-align: center;

    }

    &__control {
        margin-bottom: 1rem;
    }

    &__label {
        display: block;
        color: v.$white;
        text-transform: uppercase;
        margin: 1rem 0;
    }

    &__input {
        width: 100%;
        padding: 1.5rem;
        border: none;
    }

    &__submit {
        @include m.button(v.$secondary, v.$white);

        @include m.screen('table') {
            width: 100%;
        }
    }
}