@use 'abstract/variable'as v;
@use 'abstract/mixin'as m;



.restaurants {
    background-color: v.$light-grey;
    padding: 5rem 0;

    &__title {
        color: v.$secondary;
    }

    &__wrapper {
        @include m.screen('table') {
            @include m.grid(2, 4rem);
        }
    }

}