//
// / variable 
//


// font variable

$font-primary: 'Roboto',
serif;


// media queries
//  smartphones
$screen-smartphones: 480px;

//  tablets 
$screen-table: 768px;

// desktops
$screen-desktop: 1024px;
// Color 
$primary: #e8505b;
$secondary: #455a64;
$black: #000000;
$white: #ffffff;
$light-grey:#eceeef;
